/**
 * Brand Styles
 * ============
**/

.brand-logo {
  height: 60px;
  width: 60px;
  margin-bottom: 25px;
  @include tablet {
    height: 45px;
    width: 45px;
  }
}

.brand-headline {
  margin: 0.67em;
  font-size: $fs-headline;
  color: $white;
  line-height: $lh-headline;
  letter-spacing: $fs-h1 / 4;
  text-align: center;
  @include tablet {
    margin: 0;
    font-size: 48px;
    letter-spacing: 3px;
  }
}
