/**
 * Footer
 * ======
**/

#footer .content-container {
  margin-top: 150px;
}

#footer .body-container {
  padding-bottom: 0;
}

.footer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 100px;
  margin-right: -42px;
  padding: $pd-medium $pd-small 0;
  background-image: url('../images/brand-images/shapes/shape-footer.svg');
  background-size: cover;
}

.footer-label {
  color: $white;
  font-size: $fs-body;
  font-weight: $fw-medium;
  text-transform: uppercase;
}

.footer-company {
  align-self: flex-start;
  margin: 0 0 -25px 10vw;
  font-size: 0.75rem;
  color: $blue-grey-light;
}

.footer-icons {
  align-self: flex-end;
  margin: 0 10vw -135px 0;
  svg {
    margin: 5px;
  }
}
