/**
 * Home View
 * =========
**/

.section-nav {
  float: left;
  display: flex;
  flex-direction: column;
  width: 40px;
}

.section-nav h3 {
  color: $blue-grey;
  a { color: $blue-grey-light; }
}

.section-nav hr {
  background-color: $blue-grey-dark;
}

.section-nav-divider {
  margin: 5px;
  height: 2px;
  border: none;
  background-color: red;
}

/**
 * Landing
 * -------
**/

#home-landing {
  height: 80vh;
  min-height: 750px;
  width: 100vw;
}

.landing-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  z-index: -10;
  object-fit: cover;
}

.header-icons {
  float: right;
  margin-top: 18px;
  svg {
    height: 25px;
    width: 25px;
    padding: 0 10px;
  }
}

.header-icons,
.footer-icons {
  a:hover svg g g {
    transition: all 0.25s ease-in;
    fill: $green;
  }
}

/**
 * About
 * -----
**/

#home-about {
  background-color: $white;
}

.about-header-1,
.about-header-2 {
  text-align: center;
}
.about-header-1 {
  float: left;
}
.about-header-2 {
  float: right;
}

.about-description {
  margin: $pd-small 0 0;
}

.about-testimonials {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonial-grp {
  display: flex;
  margin: $pd-small 0 0;

  div {
    display: flex;
    flex-direction: column;
    margin: 0 $pd-small;
    padding: $pd-medium;
  }

  p {
    margin: 0;
  }
}

// Testimonial background shapes
@for $i from 1 through 4 {
  .testimonial-#{$i} {
    background: url('../images/brand-images/shapes/shape-about-' + #{$i} + '.svg');
    background-size: 100% 100%;
  }
}

/**
 * Transition
 * ----------
**/

#home-transition {
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-overlay {
  margin-right: -52px;
}

/**
 * Portfolio
 * ---------
**/

#home-portfolio {
  background-color: $white;
}

.portfolio-item {
  border: 1px solid $blue-grey;
  margin-top: $pd-xsmall;
  margin-bottom: $pd-xsmall;
}

.portfolio-item-grp {
  display: flex;
  // padding: $pd-small 0;
}
.portfolio-item-grp .portfolio-item:first-child {
  margin-right: 139px;
}

.portfolio-web {
  width: 720px;
}
.portfolio-mobile {
  width: 290px;
}
.portfolio-mobile .portfolio-item-img {
  height: 516px;
}

.portfolio-item-img {
  margin-bottom: -7px;
  width: 100%;
}

.portfolio-item-label {
  padding: $pd-small/2 $pd-small;
  text-align: center;
  font-size: $fs-body;
  font-weight: $fw-medium;
  line-height: $lh-h2;
  color: $white;
  background-color: $blue-grey;
}

