/**
 * Home View
 * =========
**/

.section-nav {
  float: left;
  display: flex;
  flex-direction: column;
  width: 40px;
}

.section-nav h3:first-child {
  color: $blue-grey-dark;
}

.section-nav hr {
  background-color: $blue-grey-dark;
}

.section-nav-divider {
  margin: 5px;
  height: 2px;
  border: none;
  background-color: red;
}

/**
 * Landing
 * -------
**/

.home-landing {
  height: 80vh;
  width: 100vw;
}

.landing-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  z-index: -10;
  object-fit: cover;
}

/**
 * About
 * -----
**/

.home-about {
  height: 100vh;
  background-color: $white;
}

.about-header-1,
.about-header-2 {
  text-align: center;
}
.about-header-1 {
  float: left;
}
.about-header-2 {
  float: right;
}

.about-description {
  margin: $pd-small 0 $pd-body;
}

.about-testimonials {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonial-grp {
  display: flex;
  margin: $pd-small 0 0;

  div {
    display: flex;
    flex-direction: column;
    margin: 0 $pd-small;
    padding: $pd-medium;
  }

  p {
    margin: 0;
  }
}

// Testimonial background shapes
@for $i from 1 through 4 {
  .testimonial-#{$i} {
    background: url('../images/brand-images/shape-about-' + #{$i} + '-v2.svg');
    background-size: 100% 100%;
  }
}

/**
 * Transition
 * ----------
**/

.home-transition {
  height: 100vh;
  min-height: 1440px;
}

.transition-hero {
  position: relative;
  z-index: -1000;
  height: 1440px;
  width: 100vw;
  background: url('../images/hero-images/hero-resurgent-v2.jpg');
  background-position: center center;
}

.transition-overlay {
  position: absolute;
  top: 180vh;
  width: 100vw;
}

/**
 * Portfolio
 * ---------
**/

.home-portfolio {
  height: 100vh;
  background-color: $white;
}

.portfolio-item {
  border: 1px solid $blue-grey;
}

.item-grp {
  display: flex;
}

.portfolio-item-img {
  margin-bottom: -7px;
}

.portfolio-item-label {
  padding: $pd-small;
  text-align: center;
  font-size: $fs-h2;
  line-height: $lh-h2;
  color: $white;
  background-color: $blue-grey;
}

