/**
 * Colors
 * ======
**/

$white: #FFF;
$grey: #F7F7F7;

$blue-grey: #586373;
$blue-grey-light: #C7D7DE;
$blue-grey-dark: #40505A;

$purple: #A195EB;
$purple-light: #D0CAF5;
$purple-lighter: #F1EFFC;

$blue: #95DFEB;
$blue-light: #CAEFF5;
$blue-lighter: #EAF9FB;

$green: #93ECCD;
$green-light: #BEF4E1;
$green-lighter: #E9FBF5;

$orange: #EBA195;
$orange-light: #F3C7BF;
$orange-lighter: #FBECEA;
