@mixin tablet {
  @media (max-width: 1024px) { @content; }
}

@mixin mobile {
  @media (max-width: 768px) { @content; }
}

@import 'common/palette';
@import 'common/layout';
@import 'common/typography';
@import 'common/buttons';
@import 'nav-menu';
@import 'footer';
@import 'brand';
@import 'home';
