/**
 * Buttons
 * =======
**/

button {
  width: 190px;
  height: 50px;
  color: $blue-grey;
  font-size: $fs-body;
  font-weight: $fw-medium;
  text-transform: uppercase;
  font-family: 'ProximaNova-Regular';
  background-color: $green;
  border: none;
  transition: all 0.25s ease-in;
  a {
    padding: 14px 28px;
    color: $blue-grey;
  }
  a:hover {
    color: $blue-grey !important;
  }
}

button:hover {
  background-color: $white;
}

.footer-btn {
  @include tablet {
    width: 210px;
  }
}
