<!-- Landing -->
<!-- ======= -->
<section class="home-landing">

  <!-- Landing Hero Image -->
  <img class="landing-hero"
    src="images/hero-images/hero-landing.jpg">

  <!-- Landing Content -->
  <div class="header-container">
    <img class="brand-logo"
      src="images/brand-images/logo.svg">
    <h1 class="brand-headline">Resurgent</h1>
  </div>

</section>

<!-- About -->
<!-- ===== -->
<section class="home-about">
  <div class="body-container">

    <!-- About Nav -->
    <div class="section-nav">
      <h3>Who</h3>
      <hr class="section-nav-divider"/>
      <h3>What</h3>
    </div>

    <div class="content-container">
      <!-- About Headline -->
      <div class="about-headers">
        <h1>We Create Solutions</h1>
        <div class="about-header-1">
          <h3>With</h3>
          <h2>Pixels & Code</h2>
        </div>
        <div class="about-header-2">
          <h3>For</h3>
          <h2>Mobile & Web</h2>
        </div>
      </div>

      <!-- About Description -->
      <p class="about-description">
        Resurgent is a design and development shop with a passion for crafting quality products.
        <br>
        We propel ambitious teams and organizations by cultivating delightful digital experiences.
      </p>

    <!-- About Testimonials -->
      <div class="about-testimonials">
        <div class="testimonial-grp">
          <div class="testimonial-1">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
            <cite>Emily Glass</cite>
            <cite>VP of Something or Other, Datto</cite>
          </div>
          <div class="testimonial-2">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
            <cite>Emily Glass</cite>
            <cite>VP of Something or Other, Datto</cite>
          </div>
        </div>
        <div class="testimonial-grp">
          <div class="testimonial-3">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
            <cite>Emily Glass</cite>
            <cite>VP of Something or Other, Datto</cite>
          </div>
          <div class="testimonial-4">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
            <cite>Emily Glass</cite>
            <cite>VP of Something or Other, Datto</cite>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Transition -->
<!-- ========== -->
<section class="home-transition">
  <!-- <img class="transition-hero" src="images/hero-images/hero-resurgent.jpg"> -->
  <div class="transition-hero"></div>
  <img class="transition-overlay" src="images/brand-images/RESURGENT.svg">

</section>

<section class="home-about">
<h1>We made it</h1>
</section>
