<!-- Landing -->
<!-- ======= -->
<section class="home-landing">

  <!-- Landing Hero Image -->
  <img class="landing-hero"
    src="images/hero-images/hero-landing.jpg">

  <!-- Landing Content -->
  <div class="header-container">
    <img class="brand-logo"
      src="images/brand-images/logo.svg">
    <h1 class="brand-headline">Resurgent</h1>
  </div>

</section>

<!-- About -->
<!-- ===== -->
<section class="home-about">
  <div class="body-container">

    <!-- About Nav -->
    <div class="section-nav">
      <h3>Who</h3>
      <hr class="section-nav-divider"/>
      <h3>What</h3>
    </div>

    <div class="content-container">
      <!-- About Headline -->
      <div class="about-headers">
        <h1>We Create Solutions</h1>
        <div class="about-header-1">
          <h3>With</h3>
          <h2>Pixels & Code</h2>
        </div>
        <div class="about-header-2">
          <h3>For</h3>
          <h2>Mobile & Web</h2>
        </div>
      </div>

      <!-- About Description -->
      <p>
        Resurgent is a design and development shop with a passion for crafting quality products.
        <br>
        We propel ambitious teams and organizations by cultivating delightful digital experiences.
      </p>

    <!-- About Testimonials -->
      <div class="about-testimonials">
        <div class="testimonial-grp">
          <div class="testimonial-1">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
          </div>
          <div class="testimonial-2">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
          </div>
        </div>
        <div class="testimonial-grp">
          <div class="testimonial-3">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
          </div>
          <div class="testimonial-4">
            <p>
              “The launch of our new knowledge base went off without a hitch.
              Our customers were very pleased with the end result.”
            </p>
          </div>
        </div>
      </div>


    </div>


  </div>
</section>


<div>
  <h1 class="heading -large">{{ home.title }}</h1>

  <h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
